{
  "uat": {
    "oauth_base_url": "https://od-auth-service-uat-dgm3vs.63g8ag.usa-e1.cloudhub.io",
    "wad_base_url": "https://od-wad-eapi-dev-t0nidn.63g8ag.usa-e1.cloudhub.io",
    "client_id": "",
    "client_secret": "",
    "scope": "https://graph.microsoft.com/.default",
    "access_token": "",
    "client_id_for_accounts": "",
    "client_id_for_assets": "",
    "reporting_entity": "Household",
    "reporting_entity_id": "0",
    "reporting_as_of_date": "2026-03-19",
    "reporting_managed": "true",
    "reporting_calculation_1": "",
    "reporting_calculation_2": ""
  }
}
