{
  "dev": {
    "oauth_base_url": "https://od-auth-service-uat-dgm3vs.63g8ag.usa-e1.cloudhub.io",
    "wad_base_url": "https://od-wad-eapi-dev-t0nidn.63g8ag.usa-e1.cloudhub.io",
    "client_id": "REPLACE_WITH_CLIENT_ID",
    "client_secret": "REPLACE_WITH_CLIENT_SECRET",
    "scope": "https://graph.microsoft.com/.default",
    "access_token": "PASTE_BEARER_TOKEN_HERE_IF_NOT_USING_oauthToken",
    "client_id_for_accounts": 9593,
    "client_id_for_assets": 9593,
    "reporting_entity": "Account",
    "reporting_entity_id": 102856,
    "reporting_as_of_date": "2026-03-13",
    "reporting_managed": 16,
    "reporting_calculation_1": "performance",
    "reporting_calculation_2": "activity"
  },
  "uat": {
    "oauth_base_url": "https://od-auth-service-uat-dgm3vs.63g8ag.usa-e1.cloudhub.io",
    "wad_base_url": "https://od-wad-eapi-dev-t0nidn.63g8ag.usa-e1.cloudhub.io",
    "client_id": "REPLACE_WITH_CLIENT_ID",
    "client_secret": "REPLACE_WITH_CLIENT_SECRET",
    "scope": "https://graph.microsoft.com/.default",
    "access_token": "PASTE_BEARER_TOKEN_HERE_IF_NOT_USING_oauthToken",
    "client_id_for_accounts": 9593,
    "client_id_for_assets": 9593,
    "reporting_entity": "Account",
    "reporting_entity_id": 102856,
    "reporting_as_of_date": "2026-03-13",
    "reporting_managed": 16,
    "reporting_calculation_1": "performance",
    "reporting_calculation_2": "activity"
  }
}
